$button-colour: #f77007;
$button-hover-colour: #d2610a;
$background: #e0e0e0;
  
.ac-container {
  text-align: center;
  display: inline-block;
  float: left;
  border: 1px solid $background;
}

.ac-play-container {
  background-color: $background;
  
  button:focus {
    outline: none;
  }
  
  .ac-play {
    font-family: "FontAwesome";
    margin-top: 15%;
    border-radius: 50%;
    background-color: $button-colour;
    border: none;
    color: #ffffff;
    font-size: 40px;
    padding-left: 15px;
    transition: .25s ease background-color;
  }
  
  .ac-play:before {
    content: "\f04b";
  }
  
  .ac-play:hover {
    background-color: $button-hover-colour;
    cursor: pointer;
  }
  
  .ac-playing:before {
    content: "\f04c" !important;
  }
  
  .ac-playing {
    padding-top: 4px;
    padding-left: 6px !important;
    font-size: 35px !important;
  }
}

